<script src="static/js/lang.js"></script>
<h3 data-l10n-id="join-members-title"></h3>
<div>

  <table class="table table-condensed tbl-autonumber">
    <thead><tr><td>#</td><td>Name</td></tr></thead>
    <tr class="active"><td>01.</td><td>Pierros Papadeas</td></tr>
    <tr class="active"><td>02.</td><td>Eleftherios Kosmas</td></tr>
    <tr class="active"><td>03.</td><td>Vasilis Tsiligiannis</td></tr>
    <tr class="active"><td>04.</td><td>Alexandros Chronopoulos</td></tr>
    <tr class="active"><td>05.</td><td>Sophoklis Goumas</td></tr>
    <tr class="active"><td>06.</td><td>Giannis Giannelos</td></tr>
    <tr class="active"><td>07.</td><td>Manthos Papamatthaiou</td></tr>
    <tr><td>08.</td><td>Konstantina Papadea</td></tr>
    <tr class="active"><td>09.</td><td>Lenio Litra</td></tr>
    <tr class="active"><td>10.</td><td>Dimitris Lianos</td></tr>
    <tr class="active"><td>11.</td><td>Fredy</td></tr>
    <tr class="active"><td>12.</td><td>Alexandros Tsourapas (SV1RVP)</td></tr>
    <tr class="active"><td>13.</td><td>Ilias D</td></tr>
    <tr class="active"><td>14.</td><td>Taky Argentino</td></tr>
    <tr class="active"><td>15.</td><td>Agisilaos Zisimatos</td></tr>
    <tr class="active"><td>16.</td><td>Aris Nikas (μελλοντικος αστροναυτης)</td></tr>
    <tr class="active"><td>17.</td><td>George T</td></tr>
    <tr class="active"><td>18.</td><td>Mike B</td></tr>
    <tr class="active"><td>19.</td><td>Konstadinaki</td></tr>
    <tr class="active"><td>20.</td><td>Thanos Husk</td></tr>
    <tr class="active"><td>21.</td><td>Vasileios A</td></tr>
    <tr class="active"><td>22.</td><td>Panos Pontas</td></tr>
    <tr class="active"><td>23.</td><td>Lil</td></tr>
    <tr class="active"><td>24.</td><td>Nektoras</td></tr>
    <tr class="active"><td>25.</td><td>jonah senzel</td></tr>
  </table>

  <small data-l10n-id="join-members-footer"></small>
</div>
