<script src="static/js/lang.js"></script>
<h3 data-l10n-id="support-title"></h3>
<div>
  <p data-l10n-id="support-text"></p>

  <h3 data-l10n-id="support-donations-title"></h3>
  <p>
    <i class="fa fa-paypal"></i> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40hackerspace.gr&item_name=Donation&currency_code=EUR" target="_blank">Paypal</a><br>
    <i class="fa fa-paragraph"></i> <a href="https://www.patreon.com/hackerspacegr" target="_blank">Patreon</a><br>
    <i class="fa fa-paragraph"></i> IBAN: GR3201720820005082079678770<br>
  </p>

  <h3 data-l10n-id="support-equipment-title"></h3>
  <p data-l10n-id="support-equipment-text"></p>

  <h3 data-l10n-id="support-supporters-title"></h3>

  <table class="table table-condensed supporters">
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://libre.space/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Lsf.jpg"></a></td><td>Donation</td></tr>
    <tr><td><a href="https://www.grnet.gr/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Grnet.jpg"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.watt-volt.gr/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Watt-volt.png"></a></td><td>Electricity Discount</td></tr>
    <tr><td><a href="https://www.tophost.gr/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>

  <small data-l10n-id="support-supporters-footer"></small>
</div>
