@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-Regular.eot');
    src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Regular.woff') format('woff'),
        url('../fonts/ClearSans-Regular.ttf') format('truetype'),
        url('../fonts/ClearSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-Bold.eot');
    src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Bold.woff') format('woff'),
        url('../fonts/ClearSans-Bold.ttf') format('truetype'),
        url('../fonts/ClearSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-BoldItalic.eot');
    src: url('../fonts/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-BoldItalic.woff') format('woff'),
        url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/ClearSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-Italic.eot');
    src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Italic.woff') format('woff'),
        url('../fonts/ClearSans-Italic.ttf') format('truetype'),
        url('../fonts/ClearSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 14px;
    line-height: 1.4;
    font-family: ClearSans;
}

a {
    color: #800;
}

#loading-bar .bar {
    background: #800;
}

#loading-bar .peg {
    box-shadow: #800 1px 0 6px 1px;
}

h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

h4 {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
}

.container {
    max-width: 960px;
}

.about {
    line-height: 1.3em;
    font-size: 1.33em;
    padding-left: 20px;
}

.page-header {
    border: none;
}

.panel {
    margin-bottom: 0;
}

.panel-heading {
    padding: 5px;
}

.status {
    font-size: 0.9em;
    margin-right: 15px;
}

.status > .panel-heading {
    background-color: #fff;
    border-color: #ccc;
}

.logo {
    margin-left: 15px;
    display: block;
}

.navbar-default {
    background-color: #eee;
    border-color: #ccc;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

#lang {
    margin-top: 12px;
    margin-left: 12px;
}

select,
option {
    background: #fff;
    border-color: #b2b2b2;
    border-style: solid;
    border-width: 1px;
}

section {
    margin-bottom: 5px;
}

section > h3 {
    background-color: #eee;
    color: #333;
    padding: 8px 11px 8px 15px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: normal;
    border-bottom: 1px #5a5784;
    border-radius: 4px;
}

section > div {
    padding: 0 11px 8px 15px;
}

.feed,
.uptime {
    display: inline-block;
    margin-left: 6px;
}

.feed > a {
    color: black;
}

#open {
    color: green;
}

#close {
    color: green;
}

#map {
    width: 100%;
    height: 300px;
}

.leaflet-control-attribution {
    display: none;
}

.carousel {
    padding: 0;
}

.events-regular {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.events-date {
    padding-left: 22px;
}

#news,
.calendar {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

#news > li {
    margin-top: 15px;
    list-style-type: none;
}

.event {
    margin-bottom: 15px;
}

.EventDescription {
    font-size: 1.2em;
}

.EventDate {
    font-size: 0.9em;
}

.more {
    text-align: left;
}

.itemDate {
    padding-left: 10px;
}

.supporters > tbody > tr > td {
    vertical-align: middle;
    padding: 7px;
}

.supporter-img {
    max-height: 150px;
    max-width: 150px;
}

.fa {
    min-width: 18px;
    text-align: center;
}

table > caption {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.project {
    margin-top: 20px;
}

.project-title > img {
    max-height: 30px;
    float: right;
    padding-right: 10px;
}

.project-title > h3 {
    vertical-align: middle;
}

.project-links > .nav > li > a {
    font-size: 1.2em;
}

.updates-text {
    margin-bottom: 20px;
}

.updates-meta {
    margin-top: 20px;
}

.book {
    padding: 10px;
    margin-bottom: 20px;
    width: 460px;
    clear: both;
    min-height: 180px;
}

.book-cover {
    float: left;
    margin-right: 10px;
}

.book-cover img {
    max-width: 130px;
}

.book-info {
    margin-bottom: 5px;
}

.book-search .form-group {
    margin-bottom: 0;
}

.authors:not(:last-child)::after {
    content: ', ';
}

.books-filter .form-group {
    margin-bottom: 0;
}

#footer {
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 2em;
}
